.header {
  display: flex;
  justify-content: space-between;
  background-color: #0087c9;
  color: white;
  padding: 4px;
}

.carrier {
  display: flex;
  align-items: center;
}

.carrier span {
  font-size: 20px;
  font-weight: 500;
  margin-left: 16px;
}

.priceBlock {
  text-align: right;
}

.price {
  font-size: 24px;
}

.priceDescription {
  font-size: 12px;
}